*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: rgba(219, 140, 51, 1);
    height:106px;
}

.logo{
    float: left;
}
.logo img{
    padding:25px;
    padding-left:80px;
}
.menu{
    width:60%;
    margin: 40px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

.contact{
    width:50vw;
    height:50vh;
    background-color: rgb(176, 176, 176);
    display: grid;
    grid-template-columns: auto auto auto;
}